main {
  margin-top: 60px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

img {
  width: 100%;
}

/*---------------------
    Groups and Items
-----------------------*/
.group1,
.group2,
.group3 {
  display: flex;
  flex-direction: row;
  margin: 10px
}

.group1 {
  
}

.group2 .item1,
.group2 .item2,
.group2 .item3 {
  margin: 10px;
}

.group3 {
 background-color: #5c4f41;
 padding: 15px 40px;
}

.group1 .item1 {
  flex-direction: column;
  margin: 10px;
  flex: .5;
}

.group1 .item2 {
  flex: 1;
}

.group3 >* {
  margin: 10px;
}